.app-view {
  &.padding {
    padding: 0 32px 32px;
  }

  &.row {
    display: flex;
    flex-flow: row;
  }
}

@media (max-width: 800px) {
  .app-view {
    &.row {
      flex-flow: column;
    }
  }
}
