@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i&subset=cyrillic');

@font-face {
  font-family: 'Helvetica-Condensed-Bold';
  src: url('../../assets/fonts/Helvetica-Condensed-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('../../assets/fonts/HelveticaNeueCyr-Roman_2.otf');
}

@font-face {
  font-family: 'Kelson-Sans';
  font-weight: 700;
  src: url('../../assets/fonts/Kelson-Sans-Bold.otf');
}

@font-face {
  font-family: 'Kelson-Sans';
  src: url('../../assets/fonts/Kelson-Sans-Regular.otf');
}